/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  header h1 span {
    font-family: 'Roboto', sans-serif;
  }
  
  #wrapper {
    display: flex;
    background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
    background-size: 100% 100vh;
    height: 100vh;
  }
  
  .left,.right {
    width: 50%;
    height: 100vh;
  }
  
  .left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .left input,.left textarea {
    margin-bottom: 2rem;
  }
  
  .left textarea {
    width: 400px;
    height: 100px;
    padding: 0.5rem;
  }
  
  .left button {
    background-color: hotpink;
    border: 2px solid hotpink;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  .right {
    display: flex;
    flex-wrap: wrap;
  }
  
  .note {
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    min-width: 200px;
    max-width: 300px;
    max-height: 200px;
    background-color: #000;
    color: #fff;
    overflow-wrap: break-word; /* Ensure text wraps within the container */
  }
  